<%-include('layout/header') %>

<table class="main" id="table-2">
  <!-- START MAIN CONTENT AREA -->
  <tr>
    <td class="wrapper" id="td-3">
      <table border="0" cellpadding="0" cellspacing="0" id="table-3">
        <tr>
          <td id="td-4">
            <p id="p-1">Hi <%= name %>,</p>
            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              class="btn btn-primary"
              id="table-4"
            >
              <tbody>
                <tr>
                  <td align="left" id="td-5">
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      id="table-5"
                    >
                      <tbody>
                        <tr>
                          <% if (verified ==1) { %>
                          <td style="width: 100%">
                            Your email has been verified successfully.
                          </td>
                          <%} else { %>
                          <td style="width: 100%">
                            Your email not verified please try again.
                          </td>
                          <% } %>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <p id="p-3"></p>
            <p id="p-3"></p>
            <p id="p-3"></p>
            <p id="p-4">Best Regards</p>
            <p id="p-4"><%= siteTitle %> Team</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <!-- END MAIN CONTENT AREA -->
</table>

<%-include('layout/footer') %>
