<!DOCTYPE html>
 <html>
 <head>
 <title>Athwas</title>
 <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">
 <link href="https://db.onlinewebfonts.com/c/0252223e8c36008b595f5e379ad5e524?family=Bradley+Hand+ITC" rel="stylesheet" type="text/css"/>
 <style>
    body{
        font-size: 10px;
    }
    
 </style>
 </head>
 <body>
 <table style="width: 100%;  background-color:#fff;font-family: 'Roboto', sans-serif;line-height:1.4;color:#000; font-size:13px; border-spacing:0px; margin:auto;">
    <tr>
        <td>
            <table style="width: 100%; border:1px solid #333; margin:auto;" cellspacing="0" >
           <!--==top-row==-->
                <tr>				
				    <td style="border-bottom:1px solid #333; font-size:13px; width:80%; padding:5px 10px 10px 10px; padding-right:5px;"colspan="2">
                        <table align="left">
                       <tr>
                           <td align="left">
							<small style="color:#7f7f7f;">INVOICE (Original for Recipient)</small><br>
							<strong style="color:#000;" class="gray">Sold By:</strong><br>						   
						   <small style="color:#7f7f7f;" class="black">ATHWAS, Sathoo Bar Bar Shah, Munawarabad Srinagar ,Kashmir, Srinagar - 190001, India<br>
                            <b style="color:#000;">PAN No:</b>	 123456789789</br>
                            <b  style="color:#000;">GST Registration No:</b>22AAAAA10A125					   
						   </td>
                       </tr>
                       </table>						
                    </td>
					
					
                    <td style="border-bottom:1px solid #333; width:20%;  padding-left:5px; padding-right:20px;" align="right">
                        <table>
                           <tr>
                                <td><img src=http://3.7.83.168:3060/service/assets?service=user_service&amp;filepath=default/black-logo.jpg alt="logo" width="80"></td>
                           </tr>
                       </table>						
                   </td>  
               </tr>
               <!--==end0-top-row==-->
               
               
           <!--==top-row==-->
                <tr>
                    <td style="border:none; width:33.333%;  padding:8px; vertical-align:top; font-size:11px; color:#555; font-weight: normal;">
					  <b style="font-size:11px;color:#000;"> Bill To</b></br>
                      VivoTestUser</br>
                      REG-Kx9xMnyH</br>
                      1 Service Rd, Ibrahim Colony, Hyderpora, Srinagar, 190015</br>
                      REG-9876543211</br></br>  
                   </td>
                   
				    <td style="border:none; border-left:1px solid #333;border-right:1px solid #333; width:33.333%;  padding:8px; vertical-align:top; font-size:11px; color:#555; font-weight: normal;">
                     <b style="font-size:11px; color:#000;"> Shipping To</b></br>
                     VivoTestUser</br>
                     REG-Kx9xMnyH</br>
                     1 Service Rd, Ibrahim Colony, Hyderpora, Srinagar, 190015</br>
                     REG-9876543211</br></br>  						
                   </td>
				    
                     <td style="width:33.333%; padding:8px; vertical-align:top; font-size:11px; line-height:2; color:#555; font-weight: normal;">
                          Order No.: #6567896754</br>
							Order Date: 19-05-2021</br>
							Invoice No.: ATW-000001 </br>					 
							Invoice Date: 19-05-2021 </br>                         					
                    </td>				
               </tr>
               <!--==end0-top-row==-->
               <!--==top-row==-->
 
               <!--==end0-top-row==-->
               <!-- <table border="1px solid #000" cellspacing="0" border-spacing="0"> -->
               <!-- <tr>				 -->
                 <!-- <td style="border:none;"> -->
                        <table style="font-size:9px; font-weight:normal;" cellspacing="0" border="none" width="100%">
                            <thead>
                                <tr>
                                <th style="font-weight:normal; padding-bottom:10px; vertical-align:top; padding:0 2px;" width="20">S. No.</th>
                                <th style="font-weight:normal; padding-bottom:10px; vertical-align:top; padding:0 2px;" width="80">Description</th>
                                <th style="font-weight:normal; padding-bottom:10px; vertical-align:top; padding:0 2px;">MRP<br/>Rs</th>
                                <th style="font-weight:normal; padding-bottom:10px; vertical-align:top; padding:0 2px;">Qty.</th>
                                <th style="font-weight:normal; padding-bottom:10px; vertical-align:top; padding:0 2px;">Gross.</th>
                                <th style="font-weight:normal; padding-bottom:10px; vertical-align:top; padding:0 2px;">Disc<br/>%</th>
                                <th style="font-weight:normal; padding-bottom:10px; vertical-align:top; padding:0 2px;">Disc.<br/>Amt.</th>
                                <th style="font-weight:normal; padding-bottom:10px; vertical-align:top; padding:0 2px;">Value</th>							 
                                <th style="font-weight:normal; padding-bottom:10px; vertical-align:top; padding:0 2px;">Taxable Amount</th>
                                <th style="font-weight:normal; padding-bottom:10px; vertical-align:top; padding:0px;" colspan="2">
                                    <table class="subtable" cellspacing="0">
                                        <tr style=" text-align: center;"> 
                                            <th style="border-bottom: 1px solid #333; text-align: center; " colspan="2">CGST</th>                                            
                                        </tr>
                                        <tr>
                                            <td style="border-right: 1px solid #333; text-align: center; width: 40px;">Rate</td>  
                                            <td style="text-align: center;  width: 40px;">Amt.</td>                                         
                                        </tr>
                                    </table>                               
                                </th>

                                
                                <!-- <th style="font-weight:normal; padding-bottom:10px; vertical-align:top; padding:0 2px;">Cgst Amt.</th> -->
                               
                                <th style="font-weight:normal; padding-bottom:10px; vertical-align:top; padding:0px;" colspan="2">
                                    <table class="subtable" cellspacing="0">
                                        <tr style=" text-align: center;"> 
                                            <th style="border-bottom: 1px solid #333; text-align: center;" colspan="2">SGST</th>                                            
                                        </tr>
                                        <tr>
                                            <td style="border-right: 1px solid #333; text-align: center;  width: 40px;">Rate</td>  
                                            <td style="text-align: center;  width: 40px;">Amt.</td>                                         
                                        </tr>
                                    </table>                                       
                                </th>
                                <!-- <th style="font-weight:normal; padding-bottom:10px; vertical-align:top; padding:0 2px;">Sgst rate</th> -->
                                <!-- <th style="font-weight:normal; padding-bottom:10px; vertical-align:top; padding:0 2px;">Sgst Amt</th> -->
                                <th style="font-weight:normal; padding-bottom:10px; vertical-align:top; padding:0px;" colspan="2">
                                    <table class="subtable" cellspacing="0">
                                    <tr style=" text-align: center;"> 
                                        <th style="border-bottom: 1px solid #333; text-align: center;" colspan="2">IGST</th>                                            
                                    </tr>
                                    <tr>
                                        <td style="border-right: 1px solid #333; text-align: center; width: 40px;">Rate</td>  
                                        <td style="text-align: center;  width: 40px">Amt.</td>                                         
                                    </tr>
                                </table>
                            </th>
                                <!-- <th style="font-weight:normal; padding-bottom:10px; vertical-align:top; padding:0 2px;">Igst Amt</th> -->
                                <th style="font-weight:normal; padding-bottom:10px; vertical-align:top; padding:0 2px; width: 60px;" >Net Amt</th>
                            </tr>
                            </thead>
                            <tbody>
                                
                           
                            
                           <tr>
                               <td style="padding:0 3px;text-align: center;">1</td>
                               <td style="padding:0 3px;"  width="80">Real Activ 100% Apple Fruit Juice- 1 Litre</td>
                               <td  style="padding:0 3px;">135</td>
                               <td  style="padding:0 3px;">2</td>
                               <td  style="padding:0 3px;">270</td>
                               <td  style="padding:0 3px;"></td>
                               <td  style="padding:0 3px;">0</td>
                               <td  style="padding:0 3px;">270</td>
                               <td  style="padding:0 3px;">0.00</td>
                               <td  style="padding:0px;" colspan="2">
                                <table class="subtable" cellspacing="0">
                                <tr>
                                    <td style="border-right: 1px solid #333; text-align: center; width: 40px;">0</td>  
                                    <td style="text-align: center;width: 40px;">0.00</td>                                         
                                </tr>
                                </table> 
                                </td> 
                               <!-- <td  style="padding:0 3px;">0</td>
                               <td  style="padding:0 3px;">0.00</td> -->
                               <td  style="padding:0px;" colspan="2" cellspacing="0">
                                <table class="subtable" cellspacing="0">
                                <tr>
                                    <td style="border-right: 1px solid #333; text-align: center; width: 40px;">0</td>  
                                    <td style="text-align: center;width: 40px;">0.00</td>                                         
                                </tr>
                                </table> 
                                </td> 
                               <!-- <td  style="padding:0 3px;">0</td>
                               <td  style="padding:0 3px;">0.00</td> -->
                               <td  style="padding:0px;" colspan="2" cellspacing="0">
                                <table class="subtable" cellspacing="0">
                                <tr>
                                    <td style="border-right: 1px solid #333; text-align: center; width: 40px;">0</td>  
                                    <td style="text-align: center;width: 40px;">0</td>                                         
                                </tr>
                                </table> 
                                </td> 
                               <!-- <td  style="padding:0 3px;">0</td>
                               <td  style="padding:0 3px;">0</td> -->
                               <td  style="padding:0 3px;">
                            270</td>
                           </tr>
                           
                           
                            
                           <tr>
                               <td style="padding:0 3px;text-align: center;">2</td>
                               <td style="padding:0 3px;"  width="80">Real Activ 100% Tender Coconut Water-200 ml</td>
                               <td  style="padding:0 3px;">45</td>
                               <td  style="padding:0 3px;">3</td>
                               <td  style="padding:0 3px;">135</td>
                               <td  style="padding:0 3px;"></td>
                               <td  style="padding:0 3px;">0</td>
                               <td  style="padding:0 3px;">135</td>
                               <td  style="padding:0 3px;">0.00</td>
                               <td  style="padding:0px;" colspan="2">
                                <table class="subtable" cellspacing="0">
                                <tr>
                                    <td style="border-right: 1px solid #333; text-align: center; width: 40px;">0</td>  
                                    <td style="text-align: center;width: 40px;">0.00</td>                                         
                                </tr>
                                </table> 
                                </td> 
                               <!-- <td  style="padding:0 3px;">0</td>
                               <td  style="padding:0 3px;">0.00</td> -->
                               <td  style="padding:0px;" colspan="2" cellspacing="0">
                                <table class="subtable" cellspacing="0">
                                <tr>
                                    <td style="border-right: 1px solid #333; text-align: center; width: 40px;">0</td>  
                                    <td style="text-align: center;width: 40px;">0.00</td>                                         
                                </tr>
                                </table> 
                                </td> 
                               <!-- <td  style="padding:0 3px;">0</td>
                               <td  style="padding:0 3px;">0.00</td> -->
                               <td  style="padding:0px;" colspan="2" cellspacing="0">
                                <table class="subtable" cellspacing="0">
                                <tr>
                                    <td style="border-right: 1px solid #333; text-align: center; width: 40px;">0</td>  
                                    <td style="text-align: center;width: 40px;">0</td>                                         
                                </tr>
                                </table> 
                                </td> 
                               <!-- <td  style="padding:0 3px;">0</td>
                               <td  style="padding:0 3px;">0</td> -->
                               <td  style="padding:0 3px;">
                            135</td>
                           </tr>
                           
                           
                           <tr>
                            <td style="padding:0 3px;text-align: right;" colspan="2"> Sub Total </td>
                            <td  style="padding:0 3px;">545</td>
                            <td  style="padding:0 3px;">45</td>
                            <td  style="padding:0 3px;">45</td>
                            <td  style="padding:0 3px;"></td>
                            <td  style="padding:0 3px;">5</td>
                            <td  style="padding:0 3px;">4</td>
                            <td  style="padding:0 3px;">54</td>
                            <td  style="padding:0px;" colspan="2">
                             <table class="subtable" cellspacing="0">
                             <tr>
                                 <td style="border-right: 1px solid #333; text-align: center; width: 40px;">545</td>  
                                 <td style="text-align: center;width: 40px;">5454</td>                                         
                             </tr>
                             </table> 
                             </td> 
                            <td  style="padding:0px;" colspan="2">
                             <table class="subtable" cellspacing="0">
                             <tr>
                                 <td style="border-right: 1px solid #333; text-align: center; width: 40px;">545</td>  
                                 <td style="text-align: center;width: 40px;">0.00</td>                                         
                             </tr>
                             </table> 
                             </td> 
                            <td  style="padding:0px;" colspan="2">
                             <table class="subtable" cellspacing="0">
                             <tr>
                                 <td style="border-right: 1px solid #333; text-align: center; width: 40px;">545</td>  
                                 <td style="text-align: center;width: 40px;">545</td>                                         
                             </tr>
                             </table> 
                             </td> 
                            <td  style="padding:0 3px;">gh</td>
                        </tr>
                        </tbody>
                           <tr>								 
                                <td style="width:100%; font-size:12px; padding:0px;" colspan="10"></td>
                                <td style="width:100%; font-size:10px; padding:0 5px; text-align: right;" colspan="5"><b>Total Tax ₹</b></td>								 						 
                            
                                <td style="">0</td>
                           </tr>
                            <tr>				
                                <td style="width:100%; font-size:12px; padding:0px;" colspan="10"></td>				 
                                <td style="width:100%; font-size:10px; padding:0 5px; text-align: right;" colspan="5"><b>Shipping ₹</b></td>
                                <td style="">420</td>
                            </tr>
                            <tr>								 
                                <td style="width:100%; font-size:12px; padding:0px;" colspan="10"></td>
                                <td style="width:100%; font-size:10px; padding:0 5px; text-align: right; " colspan="5"><b>Round Off ₹</b></td>								 						 
                            
                                <td style="">0</td>
                           </tr>
                            <tr>				
                                <td style="width:100%; font-size:12px; padding:0px;" colspan="10"></td>				 
                                <td style="width:100%; font-size:10px; padding:0 5px; text-align: right;" colspan="5"><b>Additional Discount ₹</b></td>
                                <td style="">420</td>
                            </tr>
                            <tr>								 
                                <td style="width:100%; font-size:12px; padding:0px;" colspan="10"></td>
                                <td style="width:100%; font-size:10px; padding:0 5px; text-align: right;" colspan="5"><b>Total</b></td>								 						 
                            
                                <td style="">0</td>
                           </tr>
                          
                           
                           <tr>								 
                               <td style="width:100%; font-size:13px; padding:0px;" colspan="2" ><b>Amount in Words:</b>
                               </td>	 
                               <td style="width:100%; font-size:13px; padding:0px;" colspan="14" >
                                <strong style="text-transform: capitalize;">four hundred twenty only  </strong>(In Round Figure)
                               </td>
                           </tr> 
                            </table>
                            
                    </td>	
               
               
               
               
               </tr>
               
               
            </table>
            <div id="pageFooter" style="font-family:Bradley Hand ITC,Handwriting-Dakota, sans-serif;background-color:#d8d8d8; padding:10px 10px; text-align:center; font-size:14px; line-height:1.8; margin-bottom: 0px;">		
                <strong>
                       Thank you very much for your purchase.<br>
                       Your support is much appreciated and we are looking forward to hearing your thoughts on your purchase!
                </strong>			
             </div>
 </body>
 </html>